<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ meta['title'] if meta and meta['title'] else title }} - Shippable Documentation</title>
    <meta name="description" content="{{ meta['description'] if meta }}" />
    <meta name="keywords" content="{{ meta['keywords'] if meta }}" />

    {%- set url_root = pathto('', 1) %}
    {%- if url_root == '#' %}{% set url_root = '' %}{% endif %}

    {%- if current_version == 'latest' %}
      {% set github_tag = 'master' %}
    {% else %}
      {% set github_tag = current_version %}
    {% endif %}


    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <!-- web font  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    

    {%- set css_files = css_files + ['_static/ash/bootstrap/css/bootstrap.min.css'] %}
    {%- set css_files = css_files + ['_static/ash/font-icons/custom-icons/css/custom-icons.css'] %}
    {%- set css_files = css_files + ['_static/ash/font-icons/custom-icons/css/custom-icons-ie7.css'] %}
    {%- set css_files = css_files + ['_static/ash/css/layout.css'] %}
    {%- set css_files = css_files + ['_static/ash/css/blue.css'] %}
    {%- set css_files = css_files + ['_static/ash/css/main.css'] %}
    {%- set css_files = css_files + ['_static/ash/css/font-awesome.min.css'] %}
    {%- set css_files = css_files + ['_static/ash/font-icons/custom-icons/css/custom-icons.css'] %}
    {%- set css_files = css_files + ['_static/ash/font-icons/custom-icons/css/custom-icons-ie7.css'] %}


    {%- for cssfile in css_files %}
        <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {%- endfor %}


    {%- set script_files =
    ['_static/ash/js-plugin/jquery/1.8.3/jquery.min.js']
    + ['_static/ash/js/modernizr-2.6.1.min.js']
    + ['_static/ash/bootstrap/js/bootstrap.js']
    + ['_static/ash/js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js']
    %}

    {%- for scriptfile in script_files if scriptfile != '_static/jquery.js' %}
        <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ pathto('_static/ash/images/favicon.ico', 1) }}">
    <link rel="apple-touch-icon" href="{{ pathto('_static/ash/images/apple-touch-icon.png', 1) }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ pathto('_static/ash/images/apple-touch-icon-72x72.png', 1) }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ pathto('_static/ash/images/apple-touch-icon-114x114.png', 1) }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ pathto('_static/ash/images/apple-touch-icon-144x144.png', 1) }}">



    <script type="text/javascript">
        // This is included here for Javascript that doesn't have access to the templates.
        var doc_version = "{{ current_version }}";
        var doc_slug = "{{ slug }}";
    </script>

    {#
        This part is hopefully complex because things like |cut '/index/' are not available in Sphinx jinja
        and will make it crash. (and we need index/ out.
    #}
    <link rel="canonical" href="http://docs.shippable.com/en/latest/
    {%- for word in pagename.split('/') -%}
        {%- if word != 'index' -%}
            {%- if word != '' -%}
                {{ word }}/
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    ">

    {%- for scriptfile in script_files if scriptfile != '_static/jquery.js' %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}

    <!-- Start of Google Analytics Code -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-50610279-1', 'shippable.com');
        ga('send', 'pageview');
    </script>
    <!-- End of Google Analytics Code -->
    
</head>

<body data-spy="scroll" data-target="#scrollTarget" data-offset="150">
    <div id="globalWrapper" class="localscroll">
       <!-- <header id="mainHeader" class="navbar-fixed-top" role="banner">
            <div class="container">
                <nav class="navbar navbar-default scrollMenu" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> 
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" href="http://www.shippable.com" title="Shippable Homepage"><img src="{{ pathto('_static/ash/images/main-logo.png', 1) }}" alt="Shippable logo"/></a> 
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse pull-right" id="scrollTarget">
                        <ul class="nav navbar-nav">
                            <li><a href="http://www.shippable.com"><i class="icon-home-outline"></i>Home</a> </li>
                            <li><a href="http://blog.shippable.com" target="_blank"><i class="icon-edit"></i>Blog</a> </li>
                            <li class="active"><a href="http://docs.shippable.com" target="_blank"><i class="icon-info"></i>Docs</a> </li>
                            <li><a href="https://github.com/Shippable/support" target="_blank"><i class="icon-thumbs-up"></i>Support</a> </li>
                            <li><a data-target="#signupModal" data-toggle="modal" href="#signup"><i class="icon-right"></i>Sign In</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>-->
        <header class="navbar navbar-inverse ltgray" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="https://www.shippable.com" class="navbar-brand"><img src="_static/ash/images/main-logo.png"/></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="https://www.shippable.com/features.html" target="_blank">FEATURES</a>
        </li>
        <li class="dropdown">
          <a href="https://www.shippable.com/pricing.html" target="_blank">PRICING</a>
        </li>
        <li class="dropdown">
          <a href="http://docs.shippable.com" target="_blank">DOCS</a>
        </li>
        <li class="dropdown">
          <a href="https://www.shippable.com/aboutus.html" target="_blank">ABOUT US</a>
        </li>
        <li class="dropdown">
          <a href="http://blog.shippable.com" target="_blank">BLOG</a>
        </li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            LOGIN
            <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="https://app.shippable.com/auth/github<%= redirectUrl %>"><i class="fa fa-github fa-lg"></i>
                github auth
              </a>
            </li>
            <li><a href="https://app.shippable.com/auth/bitbucket<%= redirectUrl %>"><i class="fa fa-bitbucket fa-lg"></i>
                bitbucket auth
              </a>
            </li>
          </ul>
        </li>-->
      </ul>
    </nav>
  </div>
</header>

        <!-- content -->
        <!--<section style="background-color: #3E6D92">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-sm-6"></div>
                </div>
            </div>
        </section>-->
        <section class="mt15">
            <div class="container">
                <div class="col-sm-4 sidebar bs-docs-sidebar">
                    <div id="search-bar">
                        <gcse:searchbox></gcse:searchbox>
                    </div>
                    {{ toctree(collapse=False, maxdepth=3) }}
                </div>

                <!-- body block -->
                <div class="col-sm-8">

                    <!-- Main section
                    ================================================== -->
                    <div id="search-results">
                        <gcse:searchresults></gcse:searchresults>
                    </div>
                    <section id="global" class="containerblock">
                        {% block body %}{% endblock %}
                    </section>
                </div>
                <div class="pull-right">
                    <a href="https://github.com/Shippable/docs/blob/master/sources/{{ pagename }}.rst" title="edit this article">Edit this article on GitHub</a>
                </div>
            </div>
        </section>

        <div id="wrap">
            <div id="push-the-footer"></div>
            <section style="background-color: #58595b">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-sm-6"></div>
                    </div>
                </div>
            </section>
            <section id="footerRights">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Copyright © 2014 <a href="http://www.shippable.com" target="blank">Shippable Inc.</a> / All rights reserved.</p>
                        </div>
                        <div class="col-sm-6">
                            <ul class="socialNetwork pull-right">
                                <li><a href="https://www.facebook.com/beShippable" class="tips" title="follow us on Facebook" target="_blank" data-original-title="follow us on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                                <li><a href="https://twitter.com/beShippable" class="tips" title="follow us on Twitter" target="_blank" data-original-title="follow us on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
                                
                                <li><a href="http://www.linkedin.com/company/shippable" class="tips" title="follow us on Linkedin" target="_blank" data-original-title="follow us on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                            </ul>     
                        </div>
                    </div>
                </div>
            </section>
        </div> <!-- end wrap for pushing footer -->
    </div>

    <!--Modals-->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
      	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Signup/Login</h3>
                                <p>Signup for a new account or login with:</p>
                            </div>
                            <div class="col-sm-6">
                                <a href="https://app.shippable.com/auth/github" class="signup-cta">
                                    <i class="fa fa-github"></i>github
                                </a>											
                            </div>
                            <div class="col-sm-6">
                                <a href="https://app.shippable.com/auth/bitbucket" class="signup-cta">
                                    <i class="fa fa-bitbucket"></i>bitbucket
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>      
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ pathto('_static/ash/js/docs.js', 1) }}"></script>
    <script type="text/javascript" src="{{ pathto('_static/ash/js/custom.js', 1) }}"></script>
</body>
</html>
